accelerate
bitsandbytes
chromadb
datasets
dotenv
faiss-cpu
fastapi
fitz
google-generativeai
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
numpy
openai
pandas
peft
pypdf
pymupdf
python-dotenv
requests
sentence-transformers
sentencepiece
solidity_parser
spacy
streamlit
streamlit-chat
tf-keras
torch
transformers
trl
uvicorn
uvicorn[standard]